<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <display-name>FPT Library Management System</display-name>

    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.swp391.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>com.swp391.servlet.AboutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookListServlet</servlet-name>
        <servlet-class>com.swp391.servlet.BookListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookListServlet</servlet-name>
        <url-pattern>/books</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookReviewServlet</servlet-name>
        <servlet-class>com.swp391.servlet.BookReviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookReviewServlet</servlet-name>
        <url-pattern>/book-review</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.swp391.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.swp391.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>com.swp391.servlet.UserListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>com.swp391.servlet.UserProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/user/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminUserServlet</servlet-name>
        <servlet-class>com.swp391.servlet.AdminUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUserServlet</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookDetailServlet</servlet-name>
        <servlet-class>com.swp391.servlet.BookDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookDetailServlet</servlet-name>
        <url-pattern>/book/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetailServlet</servlet-name>
        <url-pattern>/book/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetailServlet</servlet-name>
        <url-pattern>/book/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetailServlet</servlet-name>
        <url-pattern>/book/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookCopyListServlet</servlet-name>
        <servlet-class>com.swp391.servlet.BookCopyListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookCopyListServlet</servlet-name>
        <url-pattern>/book/copies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookCopyServlet</servlet-name>
        <servlet-class>com.swp391.servlet.BookCopyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookCopyServlet</servlet-name>
        <url-pattern>/book/copy/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookCopyServlet</servlet-name>
        <url-pattern>/book/copy/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookCopyServlet</servlet-name>
        <url-pattern>/book/copy/delete</url-pattern>
    </servlet-mapping>

    <!-- ===== Borrow ===== -->
    <servlet>
        <servlet-name>BorrowServlet</servlet-name>
        <servlet-class>com.swp391.servlet.BorrowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BorrowServlet</servlet-name>
        <url-pattern>/borrow/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowServlet</servlet-name>
        <url-pattern>/borrow/my</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowServlet</servlet-name>
        <url-pattern>/borrow/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowServlet</servlet-name>
        <url-pattern>/borrow/return</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowServlet</servlet-name>
        <url-pattern>/borrow/renew</url-pattern>
    </servlet-mapping>

    <!-- ===== Reservation ===== -->
    <servlet>
        <servlet-name>ReservationServlet</servlet-name>
        <servlet-class>com.swp391.servlet.ReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/reservation/my</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/reservation/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/reservation/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/reservation/confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/reservation/cancel</url-pattern>
    </servlet-mapping>

    <!-- ===== Fine ===== -->
    <servlet>
        <servlet-name>FineServlet</servlet-name>
        <servlet-class>com.swp391.servlet.FineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FineServlet</servlet-name>
        <url-pattern>/fine/my</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FineServlet</servlet-name>
        <url-pattern>/fine/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FineServlet</servlet-name>
        <url-pattern>/fine/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FineServlet</servlet-name>
        <url-pattern>/fine/waive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FineServlet</servlet-name>
        <url-pattern>/fine/pay</url-pattern>
    </servlet-mapping>

    <!-- ===== Notification ===== -->
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>com.swp391.servlet.NotificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/notification/my</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/notification/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/notification/publish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/notification/mark-read</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/notification/mark-all-read</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
